* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: 600%;
    max-height: 200%;
    top: -999px;
    right: -999px;
    bottom: -999px;
    left: -999px;
    margin: auto !important;
    width: initial;
}

.title h1 {
    position: relative;
    text-align: center;
    color: yellow;
    margin-top: 100px;
    font-size: min(100px, 20vw);
}

.intro {
    color: yellow;
    position: relative;
    text-align: center;
    margin-top: 150px;
    font-size: min(30px, 10vw);
}

.section-links {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 95vh;
    width: max(300px, 35vw);
}

.section-links a {
    font-size: min(7vw, 28px);
    text-align: center;
    color: white;
}

.characters, .planets, .films {
    position: relative;
    background-color: black;
    color: yellow;
}

.characters h1, .planets h1, .films h1{
    position: relative;
    text-align: center;
    top: 50px;
    font-size: min(100px, 20vw);
}

.search-form {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.character-container, .planet-container, .film-container {
    position: relative;
    margin-top: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.character, .character-properties, .planet, .planet-properties, .film, .film-properties {
    position: relative;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.character p, .character-properties p, .planet p, .planet-properties p {
    width: 25%;
}

.film p, .film-properties p, .film button {
    width: 33%;
}

.film button {
    background-color: black;
    color: white;
}

.pagination {
    position: relative;
    height: 32px;
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    bottom:5px;
    justify-content: center;
}

.pagination a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: yellow;
    color: black;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .climate-dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

.hidden, .hidden p {
    display: none;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }